@{
    ViewData["Title"] = "Стартовая страница приложения";
}

<div class="text-center">
    <h1 class="display-4">Стартовая страница приложения</h1>
    <p>Ознакомьтесь с - <a href="https://docs.microsoft.com/aspnet/core"> руководство для проектирования приложения ASP.NET Core</a>.</p>
</div>
